<tr>
<td class="notification-cell">
<%= link_to c_path(id: notification.actor.username) do %>
  <%= user_avatar_variant(notification.actor, "rounded-circle notification-avatar", resize: '150x150^', extent: '150x150', gravity: 'Center') %>
<% end %>
<%= link_to c_path(id: notification.actor.username), class: 'haam' do %>
  @<%= notification.actor.username %>
<% end %>
<p><%= notification.action %> your video.</p>
<%= link_to image_tag(notification.notifiable.clip.thumb.url), notification.notifiable, class: 'notification-a' %>
</td>
</tr>