<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <body class="login-page">

  <%= f.hidden_field :reset_password_token %>
  <div class="box">
    <div class="field">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "New Password", class: "box-input" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "box-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: "submit-button"%>
    </div>

    <div>
      <center><a class="links" href="/users/sign_in">Login</a></center>
    </div>
  </div>
  </body>
<% end %>
