<html>
<body>
<div id="the-all-and-everything">
<%= render partial: "/partials/avatar-dropdown.html.erb" %>
<div class="cs-search-container">
  <%= form_tag(cs_path, method: :get, role: 'search', id: 'cs-search-form') do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search', style: 'top: 25px;', class: 'center search', id: 'query user_search videos_search search', autocomplete: :off %>
    <%= submit_tag 'Search', name: nil, style: 'display: none;' %>
  <% end %>
</div>
<div id="results">
<table class="channel-table">
<tbody>
  <% @users.each do |user| %>
    <tr>
      <td class="channel-cell">
      <%= link_to c_path(id: user.username), class: 'channel-a' do %>
      <%= user_avatar_variant(user, "rounded-circle c-avatar", resize: '150x150^', extent: '150x150', gravity: 'Center') %>
      <%= user.name %>
      @<%= user.username %>
      <% user.badges.each do |badge| %><%= image_tag(badge.image_url, alt: badge.name, class: 'badge-image', title: badge.description) %><% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
<% case @videos.count %>
<% when 0 %>
  <div style="display:none;">
<% when 1 %>
  <div class="video-grid-container video-grid-columns-1">
<% when 2 %>
  <div class="video-grid-container video-grid-columns-2">
<% else %>
  <div class="video-grid-container video-grid-columns">
<% end %>
  <% @videos.each do |video| %>
    <div id="damn" class="video-grid-item">
      <%= link_to video_path(video), class: "show channel-a", remote: true, onclick: "muffinMan(#{video.id})", id: "videothumbnail#{video.id}" do %>
      <%= image_tag(video.clip.thumb.url, class: 'video-thumbnail') %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
<div id="infinite-scrolling">
  <%= will_paginate @videos %>
</div>
<%= render "partials/videos/overlay-js", search: true %>
</div>
<div id="di" class="bg-ha">
</div>
<%= render 'partials/footer' %>
